

<div style="margin-left:10px;width:25%">
    <form role="form">
        <label for="code">专业代码</label>
        <input type="text" id="code" class="form-control" ng-model="code">
        <label for="name">专业名称</label>
        <input type="text" id="name" class="form-control" ng-model="name">
        <div style="margin:10px auto">
            <a href="#major/student_search/show" class="btn btn-danger">确定</a>
            <button type="reset" class="btn btn-primary">重置</button>
        </div>
    </form>
</div>
<hr>
<div ui-view></div>
