<div style="width:70% ;margin:50px auto">
	<table class="table table-hover" style="background-color: white">
		<caption class="text-center h2 text-primary">本学期成绩</caption>
		<tr>
			<td>课程名</td>
			<td>课程学分</td>
			<td>日期</td>
			<td>成绩</td>
		</tr>
		<tr ng-repeat="item in data" >
			<td ng-if="(item.date).substr(0,4)==Year && (item.date).substr(5,2)<=7">{{item.name}}</td>
			<td ng-if="(item.date).substr(0,4)==Year && (item.date).substr(5,2)<=7">{{item.units}}</td>
			<td ng-if="(item.date).substr(0,4)==Year && (item.date).substr(5,2)<=7">{{item.date}}</td>
			<td ng-if="(item.date).substr(0,4)==Year && (item.date).substr(5,2)<=7">{{item.grade}}</td>
			
		</tr>
	</table>
	
</div>