    <div ng-controller="infController" >
        <!--显示学生信息-->
        <div class="selfIm_container clearfix">
            <div class="selfIm_show clearfix" >
                <table class="table table-hover" >
                    <tr>
                        <td ng-if="type==0">学号：</td>
                        <td ng-if="type==1">工号：</td>
                        <td>{{data.suid}}</td>
                    </tr>
                    <tr>
                        <td>姓名：</td>
                        <td>{{data.name}}</td>
                    </tr>
                    <tr>
                        <td>生日：</td>
                        <td>{{data.birth_day}}</td>
                    </tr>
                    <tr>
                        <td>邮箱：</td>
                        <td>{{data.email}}</td>
                    </tr>
                    <tr>
                        <td>城市：</td>
                        <td>{{data.city}}</td>
                    </tr>
                    <tr>
                        <td>地址：</td>
                        <td>{{data.address}}</td>
                    </tr>
                    <tr>
                        <td>专业：</td>
                        <td>{{data.major}}</td>
                    </tr>

            </table>
        </div>
        <div class="selfIm_img"><img src="public/images/touxiang.png"></div>
    </div>


    </div>







